.btn-demo {
    background-color: #33bf0e;
    color: #ffffff;
    
}

.demo{
    padding-top: 14rem;
}

.demo-content{
    border-width:8px;
    border-color: #d97817;
}

.demo-title{
    text-align: center;
}